<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notes App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh">
  <nav class="navbar navbar-light bg-warning shadow sticky-top">
    <a class="navbar-brand" href="/">Notes App</a>
  </nav>
  <main class="container-fluid py-3 d-flex flex-column flex-grow-1">
    <%= yield %>
  </main>
  <footer class="card card-footer">Notes App by Hizkia Adrian Susanto</footer>
  </body>
</html>
